{
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "extends": "./node_modules/aegir/src/config/eslintrc-ts.js"
    },
    {
      "files": [
        "**/*.js"
      ],
      "extends": "./node_modules/aegir/src/config/eslintrc.js"
    }
  ]
}